<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee</title>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">
 
<h3>Movies List</h3>
<a th:href="@{/createmovieform}" class="btn btn-primary btn-sm mb-3" >Add Movie</a>
    <table style="width:80%" border="1"
           class = "table table-striped table-responsive-md">
    <thead>
  <tr>
    <th>Year</th>
    <th>Title</th>
    <th>Director</th>
    <th>Country</th>
    <th>Language</th>
    <th>Genre</th>
    <th>Winner</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="movie:${message}">
        <td th:text="${movie.year}"></td>
        <td ><a th:href="@{/getmovieapp/{id}(id=${movie.id})}" th:text="${movie.title}" target="_blank" /></td>
        <td th:text="${movie.director}"></td>
        <td th:text="${movie.country}"></td>
        <td th:text="${movie.language}"></td>
        <td th:text="${movie.genre}"></td>
        <td th:text="${movie.winner}"></td>
        <td><a th:href="@{/updatemovieapp/{id}(id=${movie.id})}"
                class="btn btn-primary btn-sm mb-1">Update</a>
                <a th:href="@{/deletemovie/{id}(id=${movie.id})}"
                class="btn btn-danger btn-sm ">Delete</a></td>
        
  </tr>
  </tbody>
</table>
</div>
</body>
</html>